<div class="leave-summary-wrapper">
    <div class="days-remain-wrapper">
        <ng-container *ngFor="let item of leaveSummary">
            <div class="days-remain-card">
                <p class="leave-type-text">{{item.leaveType}}</p>
                <p class="days">{{item.remainingDays}}</p>
                <p class="description">days reamain for {{ today | date:'yyyy' }}</p>
            </div>
        </ng-container>
    </div>
    <div class="page-wrapper-card" *ngIf="leaveSummaryYear">
        <div class="card-header">
            <p class="header">Leave in 2024</p>
        </div>
        <div class="days-used-wrapper">
            <ng-container *ngFor="let leave of leaveSummary">
                <div class="days-used-item">
                    <nz-progress [nzPercent]="(leave.totalDays - leave.remainingDays) / leave.totalDays * 100" nzType="circle" nzStrokeColor="#83002C" [nzWidth]="150" nzStrokeWidth="15"
                        [nzFormat]="customFormat"></nz-progress>
                    <p class="days-used-title">{{leave.leaveType}} Leave</p>
                </div>
                <ng-template #customFormat let-percent="percent">
                    <div class="days-used-text">
                        <!-- {{ leave.totalDays - leave.remainingDays }} -->
                        {{ leave.totalDays - leave.remainingDays }}/{{leave.totalDays}}
                        <!-- <span>days</span> -->
                    </div>
                  </ng-template>
            </ng-container>
        </div>
    </div>
</div>