<div class="page-wrapper-card">
    <div class="card-header">
        <p class="header">Leave Calendar</p>
    </div>
    <div class="calendar-container">
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
</div>

<nz-modal [(nzVisible)]="holidayModal" [nzFooter]="null" nzTitle="Holiday" (nzOnCancel)="closeAllModal()"
    (nzOnOk)="closeAllModal()">
    <ng-container *nzModalContent>
        <div class="modal-conent-list">
            <div class="content-row">
                <span class="title">Name</span><span>:</span>
                <span class="description">{{holidayModalData.name}}</span>
            </div>
            <div class="content-row">
                <span class="title">Date</span><span>:</span>
                <span class="description">{{holidayModalData.date | date:'dd MMM yyyy'}}</span>
            </div>
            <div class="content-row">
                <span class="title">Description</span><span>:</span>
                <span class="description">{{holidayModalData.description}}</span>
            </div>
        </div>
    </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="leaveDetailsModal" [nzFooter]="null" nzTitle="Leave Details" (nzOnCancel)="closeAllModal()" (nzOnOk)="closeAllModal()">
    <ng-container *nzModalContent>
        <div class="calendar-modal-content">
            <span class="title">Staff Name</span>:
            <span class="description">{{leaveDetailsModalData.fullName}}</span>
        </div>
        <div class="calendar-modal-content">
            <span class="title">Leave Type</span>:
            <span class="description">{{leaveDetailsModalData.leaveType}}</span>
        </div>
        <div class="calendar-modal-content">
            <span class="title">Phone</span>:
            <span class="description">{{leaveDetailsModalData.phone}}</span>
        </div>
    </ng-container>
</nz-modal>