@import '../../../assets/styles/colors.scss';

.action-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  gap: 10px;

  span {
    height: 16px;
    font-size: 16px;
    cursor: pointer;

    &:hover {
      color: $primary-color;
    }
  }
}
