<div class="login-wrapper">
    <div class="login-card">
        <img [src]="images.SIP_LOGO" class="login-logo" alt="">
        <!-- <div class="login-header">Login</div> -->
        <div class="login-description">Login to Leave Application</div>
        <form nz-form [nzLayout]="'vertical'" class="login-form">
            <nz-form-item>
                <nz-form-label nzFor="User Name">User Name</nz-form-label>
                <nz-form-control>
                    <input nz-input name="User Name" type="text" />
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="Password">Passowrd</nz-form-label>
                <nz-form-control>
                    <input nz-input name="Password" type="password" />
                </nz-form-control>
            </nz-form-item>
            <button nz-button nzType="primary" type="submit" class="mt-1 mb-3">Submit</button>
        </form>
        <a href="www.startinpoint.com">Forget Password</a>
    </div>
</div>