<div class="col-lg-8 col-md-12 col-sm-12">
    <app-user-leave-summary></app-user-leave-summary>
</div>
<div class="page-wrapper-card mt-30">
    <div class="card-header">
        <p class="header">Apply Leave</p>
        <p class="description">Company Absent from Official Work/ Leave Request Form(Per Week)</p>
    </div>

    <form nz-form [nzLayout]="'vertical'">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <nz-form-item>
                    <nz-form-label nzFor="Leave Type">Leave Type</nz-form-label>
                    <nz-form-control>
                        <nz-select name="Leave Type" nzShowSearch>
                            <nz-option nzValue="Annual Leave" nzLabel="Annual Leave"></nz-option>
                            <nz-option nzValue="Unpaid Leave" nzLabel="Unpaid Leave"></nz-option>
                            <nz-option nzValue="Medical Leave" nzLabel="Medical Leave"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <nz-form-item>
                    <nz-form-label nzFor="Date Range">Date Range</nz-form-label>
                    <nz-form-control>
                        <nz-range-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"
                            name="Date Range"></nz-range-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <nz-form-item>
                    <nz-form-label nzFor="Contact No">Contact Number<span class="label-small">(during absent
                            period)</span></nz-form-label>
                    <nz-form-control>
                        <input nz-input name="Contact Number" type="text" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8">
                <nz-form-item>
                    <nz-form-label nzFor="Reason">Reason<span class="label-small">(during absent
                            period)</span></nz-form-label>
                    <nz-form-control>
                        <textarea nz-input name="Reason"></textarea>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="d-flex justify-content-end">
                <button nz-button nzType="primary">Submit</button>
            </div>
        </div>
    </form>
</div>