<div class="page-wrapper-card">
    <div class="card-header">
        <p class="header">General Setting</p>
    </div>
    <nz-spin nzTip="Loading..." [nzSpinning]="generalSettingLoding">
        <nz-tabset>
            <nz-tab nzTitle="Notification Setting">
                <form nz-form [nzLayout]="'vertical'" [formGroup]="notificationForm">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <nz-form-item>
                                <label nz-checkbox class="pb-2" formControlName="notiScheduled">Scheduled</label>
                                <nz-form-control >
                                    <nz-date-picker [nzDisabled]="!notiScheduled" [nzDisabledDate]="disabledDate"
                                        name="Date Range" formControlName="notiScheduledDate"></nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <nz-form-item>
                                <nz-form-label nzFor="Notify To">Notify To</nz-form-label>
                                <nz-form-control nzErrorTip="please select notify to!">
                                    <nz-select name="Notify To" nzShowSearch formControlName="notifyTo">
                                        <nz-option nzValue="all" nzLabel="All"></nz-option>
                                        <nz-option nzValue="admin" nzLabel="Admin"></nz-option>
                                        <nz-option nzValue="staff" nzLabel="Staff"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4">
                            <nz-form-item>
                                <nz-form-label nzFor="title">Title</nz-form-label>
                                <nz-form-control nzErrorTip="please enter title!">
                                    <input nz-input name="title" type="text" formControlName="title"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="col-sm-12">
                            <nz-form-item>
                                <nz-form-label nzFor="description">Description</nz-form-label>
                                <nz-form-control nzErrorTip="please enter description!">
                                    <textarea rows="3" nz-input name="description" type="text" formControlName="description"></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="d-flex justify-content-end mt-1">
                            <button nz-button nzType="default" class="me-3" (click)="clearNotiForm()">Clear</button>
                            <button nz-button nzType="primary" (click)="onSubmitNotification()">Sent</button>
                        </div>
                    </div>
                </form>
                <nz-form-label>Notifications</nz-form-label>
                <nz-table #leaveTransation [nzData]="notificationList" [nzPageSize]="10" [nzScroll]="{ x: '1000px' }">
                    <thead>
                        <tr>
                            <th nzAlign="center" nzWidth="100px">Date</th>
                            <th nzAlign="center" nzWidth="200px">Title</th>
                            <th nzAlign="center" nzWidth="300px">Description</th>
                            <th nzAlign="center" nzWidth="100px">Notify To</th>
                            <th nzAlign="center" nzWidth="80px" nzRight>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of leaveTransation.data">
                            <td nzAlign="center">{{ data.date | date:'dd MMM yyy' }}</td>
                            <td nzAlign="center">{{ data.title | appTruncate:50 }}</td>
                            <td nzAlign="center">{{ data.description | appTruncate:100 }}</td>
                            <td nzAlign="center">
                                <nz-tag [nzColor]="'cyan'">{{ data.notifyTo }}</nz-tag>
                            </td>
                            <td nzAlign="center" nzRight>
                                <div class="table-action-wrapper">
                                    <span class="fi fi-rr-info" (click)="notiDetails(data)"></span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </nz-tab>
            <nz-tab nzTitle="Leave Policy">
                <quill-editor [(ngModel)]="leavePolicyContent" [modules]="quillConfig.modules" [theme]="quillConfig.theme"
                    [disabled]="!leavePolicyEditState" [class.disabled]="!leavePolicyEditState">
                </quill-editor>
                <div class="action-wrapper">
                    <button nz-button nzType="default" *ngIf="leavePolicyEditState"
                        (click)="leavePolicyEditState = false; leavePolicyContent = leavePolicyOldContent">Cancel</button>
                    <button nz-button nzType="primary" *ngIf="!leavePolicyEditState" (click)="leavePolicyEditState = true">Edit</button>
                    <button nz-button nzType="primary" *ngIf="leavePolicyEditState" (click)="leavePolicySave()">Save</button>
                </div>
            </nz-tab>
        </nz-tabset>
    </nz-spin>
</div>

<nz-modal [(nzVisible)]="notificationModal" nzTitle="Notification" (nzOnCancel)="closeModal()" (nzOnOk)="closeModal()"
    [nzFooter]="null">
    <ng-container *nzModalContent>
        <div class="modal-conent-list">
            <div class="content-row">
                <span class="title">Date</span><span>:</span>
                <span class="description">{{notificationObj.date | date:'dd MMM yyyy'}}</span>
            </div>
            <div class="content-row">
                <span class="title">Notify To</span><span>:</span>
                <span class="description">{{notificationObj.notifyTo}}</span>
            </div>
            <div class="content-row">
                <span class="title">Title</span><span>:</span>
                <span class="description">{{notificationObj.title}}</span>
            </div>
            <div class="content-row">
                <span class="title">Description</span><span>:</span>
                <span class="description">{{notificationObj.description}}</span>
            </div>
        </div>
    </ng-container>
</nz-modal>