<div class="page-wrapper-card">
    <div class="card-header">
        <p class="header">Staff List</p>
    </div>
    <div class="d-flex align-items-center justify-content-between mb-4">
        <button nz-button nzType="primary" (click)="createStaff()" [disabled]="staffListLoading">Create Staff</button>
        <div class="list-style">
            <span class="fi fi-rr-list" [class.active]="listStyle == 'row'" (click)="listStyle='row'"></span>
            <span class="fi fi-rr-rectangles-mixed" [class.active]="listStyle == 'card'"
                (click)="listStyle='card'"></span>
        </div>
    </div>
    <!-- <p *ngIf="staffListLoading">loading...</p> -->
    <nz-skeleton *ngIf="staffListLoading" [nzActive]="true"></nz-skeleton>
    <!-- row list view -->
    <div class="staff-row-list-wrapper" *ngIf="listStyle == 'row' && !staffListLoading">
        <ng-container *ngFor="let staff of staffListData">
            <div class="staff-row-list-item">
                <div class="profile">
                    <img [src]="images.PROFILE" alt="">
                    <span class="name-wrapper">
                        <span class="name">{{staff.fullName}}</span>
                        <span class="position">{{staff.position}}</span>
                    </span>
                </div>
                <div class="dept">{{staff.department}}</div>
                <div class="email">{{staff.email}}</div>
                <div class="phone">{{staff.phone}}</div>
                <div class="action-wrapper">
                    <span class="fi fi-rr-trash" (click)="deleteStaff(staff)"></span>
                    <span class="fi fi-rr-info" (click)="openStaffDetails(staff)"></span>
                </div>
            </div>
        </ng-container>
    </div>

    <!-- card list view -->
    <div class="staff-card-list-wrapper" *ngIf="listStyle == 'card' && !staffListLoading">
        <ng-container *ngFor="let staff of staffListData">
            <div class="staff-card-wrapper">
                <div class="top-wrapper">
                    <div class="image-wrapper">
                        <img [src]="images.PROFILE" alt="">
                    </div>
                    <span class="fi fi-rr-menu-dots-vertical top-action-icon" nzPopoverTrigger="click" nz-popover
                        [nzPopoverContent]="topAction">
                        <ng-template #topAction>
                            <div class="top-action-popover-wrapper">
                                <div class="top-action-item" (click)="editStaff(staff)">Edit</div>
                                <div class="top-action-item" (click)="deleteStaff(staff)">Delete</div>
                            </div>
                        </ng-template>
                    </span>
                </div>
                <div class="profil">
                    <div class="name">{{staff.fullName}}</div>
                    <div class="position">{{staff.position}}</div>
                    <div class="dept">{{staff.department}}</div>
                    <div class="action-wrapper">
                        <span class="fi fi-rr-envelope"></span>
                        <span class="fi fi-rr-phone-flip"></span>
                        <span class="fi fi-rr-info" (click)="openStaffDetails(staff)"></span>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
<!-- Staff Create Edit -->
<nz-modal [(nzVisible)]="staffCreateEditModal" [nzFooter]="null" nzTitle="Staff" (nzOnCancel)="closeModal()"
    (nzOnOk)="closeModal()">
    <ng-container *nzModalContent>
        <nz-alert class="mb-4" *ngIf="createEditError.visable" nzType="error" [nzMessage]="createEditError.message"
            [nzAction]="errorAlertClose">
            <ng-template #errorAlertClose>
                <span class="fi fi-br-cross" (click)="createEditError.visable = !createEditError.visable"></span>
            </ng-template>
        </nz-alert>
        <form nz-form [nzLayout]="'horizontal'" [formGroup]="staffForm">
            <div class="step-container">
                <nz-steps [nzCurrent]="setpCurrent" [nzSize]="'small'">
                    <nz-step nzTitle="Personal"></nz-step>
                    <nz-step nzTitle="Contact"></nz-step>
                    <nz-step nzTitle="Leave"></nz-step>
                </nz-steps>
            </div>
            <div class="steps-content">
                <ng-container *ngIf="setpCurrent == 0">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="fullName">Full Name</nz-form-label>
                        <nz-form-control nzErrorTip="Please fill your full name!">
                            <input nz-input name="fullName" type="text" placeholder="your name"
                                formControlName="fullName">
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="gender">Gender</nz-form-label>
                        <nz-form-control>
                            <nz-radio-group formControlName="gender">
                                <label nz-radio nzValue="male">Male</label>
                                <label nz-radio nzValue="female">Female</label>
                            </nz-radio-group>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="position">Position</nz-form-label>
                        <nz-form-control>
                            <nz-select name="position" nzShowSearch formControlName="position">
                                <nz-option nzValue="Junior Developer" nzLabel="Junior Developer"></nz-option>
                                <nz-option nzValue="Developer" nzLabel="Developer"></nz-option>
                                <nz-option nzValue="Senior Developer" nzLabel="Senior Developer"></nz-option>
                                <nz-option nzValue="Manager" nzLabel="Manager"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="department">Dpartment</nz-form-label>
                        <nz-form-control>
                            <nz-select name="department" nzShowSearch formControlName="department">
                                <nz-option nzValue="Dev Team" nzLabel="Dev Team"></nz-option>
                                <nz-option nzValue="HR" nzLabel="HR"></nz-option>
                                <nz-option nzValue="Testing Team" nzLabel="Testing Team"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="role">Role</nz-form-label>
                        <nz-form-control>
                            <nz-select name="role" nzShowSearch formControlName="role">
                                <nz-option nzValue="Admin" nzLabel="Admin"></nz-option>
                                <nz-option nzValue="Staff" nzLabel="Staff"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </ng-container>
                <ng-container *ngIf="setpCurrent == 1">
                    <nz-form-item>
                        <nz-form-label nzFor="email">E-mail</nz-form-label>
                        <nz-form-control>
                            <input nz-input name="email" type="text" placeholder="example@startinpoint.com"
                                formControlName="email" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="phone">Phone</nz-form-label>
                        <nz-form-control>
                            <input nz-input name="phone" type="text" placeholder="09-XXXX XXX XXX"
                                formControlName="phone" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="address">Address</nz-form-label>
                        <nz-form-control>
                            <textarea nz-input name="address" type="text" placeholder="09-XXXX XXX XXX"
                                formControlName="address"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </ng-container>
                <ng-container *ngIf="setpCurrent == 2">
                    <nz-form-item>
                        <nz-form-label nzFor="annual">Annual</nz-form-label>
                        <nz-form-control>
                            <input nz-input name="annual" type="number" formControlName="annual" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="offInLieu">Off-In-Lieu</nz-form-label>
                        <nz-form-control>
                            <input nz-input name="offInLieu" type="number" formControlName="offInLieu" />
                        </nz-form-control>
                    </nz-form-item>
                    <nz-form-item>
                        <nz-form-label nzFor="medical">Medical</nz-form-label>
                        <nz-form-control>
                            <input nz-input name="medical" type="number" formControlName="medical" />
                        </nz-form-control>
                    </nz-form-item>
                </ng-container>
            </div>
            <div class="steps-action">
                <button nz-button nzType="default" (click)="closeModal()">
                    Cancel
                </button>
                <button nz-button nzType="default" (click)="pre()" *ngIf="setpCurrent > 0">
                    Previous
                </button>
                <button nz-button nzType="primary" (click)="next()" *ngIf="setpCurrent < 2">
                    Next
                </button>
                <button nz-button nzType="primary" (click)="saveStaff()" *ngIf="setpCurrent === 2"
                    [disabled]="!staffForm.valid" [nzLoading]="createEditBtnLoading">
                    Save
                </button>
            </div>
        </form>
    </ng-container>
</nz-modal>
<!-- Staff Details -->
<nz-modal [(nzVisible)]="staffDetailsModal" [nzFooter]="null" nzTitle="Staff Details" (nzOnCancel)="closeModal()"
    (nzOnOk)="closeModal()">
    <ng-container *nzModalContent>
        <div class="modal-conent-list">
            <div class="content-row">
                <span class="title">Staff ID</span><span>:</span>
                <span class="description">{{staffDetailsObj.staffId}}</span>
            </div>
            <div class="content-row">
                <span class="title">Full Name</span><span>:</span>
                <span class="description">{{staffDetailsObj.fullName}}</span>
            </div>
            <div class="content-row">
                <span class="title">Gender</span><span>:</span>
                <span class="description">{{staffDetailsObj.gender}}</span>
            </div>
            <div class="content-row">
                <span class="title">Position</span><span>:</span>
                <span class="description">{{staffDetailsObj.position}}</span>
            </div>
            <div class="content-row">
                <span class="title">Department</span><span>:</span>
                <span class="description">{{staffDetailsObj.department}}</span>
            </div>
            <div class="content-row">
                <span class="title">Email</span><span>:</span>
                <span class="description">{{staffDetailsObj.email}}</span>
            </div>
            <div class="content-row">
                <span class="title">Phone</span><span>:</span>
                <span class="description">{{staffDetailsObj.phone}}</span>
            </div>
            <div class="content-row">
                <span class="title">Address</span><span>:</span>
                <span class="description">{{staffDetailsObj.address}}</span>
            </div>
            <div class="content-row">
                <span class="title">Role</span><span>:</span>
                <span class="description">
                    <nz-tag [nzColor]="staffDetailsObj.role == 'Admin'? 'red':'green'">{{staffDetailsObj.role}}</nz-tag>
                </span>
            </div>
            <div class="content-row">
                <span class="title">leaveBalance</span><span>:</span>
                <span class="description">
                    <ng-container *ngFor="let leaveBalance of staffDetailsObj.leaveBalance">
                        <span>{{leaveBalance.leaveType}}</span>
                        <span>{{leaveBalance.totalDays}}</span>
                        <span>{{leaveBalance.remainingDays}}</span>
                    </ng-container>
                </span>
            </div>
        </div>
    </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="staffDeleteModal" [nzFooter]="deleteModalFooter" (nzOnCancel)="closeModal()">
    <ng-container *nzModalContent>
        <div class="delete-modal-content">
            <span class="fi fi-rr-triangle-warning delete-icon"></span>
            <div>
                <h6>Do you Want to delete this staff [ {{staffDetailsObj.fullName}} ] ?</h6>
            </div>
        </div>
    </ng-container>
    <ng-template #deleteModalFooter>
        <button nz-button nzType="default" (click)="closeModal()" [disabled]="createEditBtnLoading">No</button>
        <button nz-button nzType="primary" (click)="deleteStaffConfirm()"  [nzLoading]="createEditBtnLoading">Yes</button>
    </ng-template>
</nz-modal>