<div class="dashboard-wrapper">
    <div class="dashboard-user-summary-wrapper">
        <app-user-leave-summary [leaveSummaryYear]="true"></app-user-leave-summary>
    </div>
    <div class="page-wrapper-card dashboard-holiday-wrapper">
        <div class="card-header mb-3">
            <p class="header">Upcoming Public Holiday</p>
        </div>
        <ul class="dashboard-holiday-body">
            <ng-container *ngFor="let holiday of holidays">
                <li class="dashboard-holiday-item" (click)="openHolidayModal(holiday)">
                    <span>
                        <span>{{holiday.date | date:'dd MMM yyyy'}}</span>
                        <span>{{holiday.date | date:'EEEE'}}</span>
                    </span>
                    <span>{{holiday.name}}</span>
                </li>
            </ng-container>
        </ul>
    </div>
</div>



<nz-modal [(nzVisible)]="holidayModal" [nzFooter]="null" nzTitle="Holiday" (nzOnCancel)="closeAllModal()"
    (nzOnOk)="closeAllModal()">
    <ng-container *nzModalContent>
        <div class="modal-conent-list">
            <div class="content-row">
                <span class="title">Name</span><span>:</span>
                <span class="description">{{holidayModalData.name}}</span>
            </div>
            <div class="content-row">
                <span class="title">Date</span><span>:</span>
                <span class="description">{{holidayModalData.date | date:'dd MMM yyyy'}}</span>
            </div>
            <div class="content-row">
                <span class="title">Description</span><span>:</span>
                <span class="description">{{holidayModalData.description}}</span>
            </div>
        </div>
    </ng-container>
</nz-modal>