/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '../node_modules/quill/dist/quill.snow.css';
@import "assets/styles/custom-ant-design.scss";
@import "assets/styles/colors.scss";
@import "assets/styles/variable.scss";
@import "assets/styles/custom-full-calendar-design.scss";
* {
  font-family: "SF pro Display", sans-serif;
}
body {
  background-color: #f2f2f2;
  font-size: 14px;
}
p {
  font-size: 14px;
}
//for flat-icon
.fi {
  display: inline-block;
}

i.fi:before,
i.fi:before,
span.fi:before,
span.fi:before {
  display: inline-block;
  transform: translateY(-10%);
}

.page-wrapper-card {
  padding: 30px 40px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: $main-card-shadow;

  .card-header {
    margin-bottom: 30px;

    .header {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    .description{
      font-size: 12px;
      margin-bottom: 0;
      color: gray;
    }
  }
}

a {
  color: $primary-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.label-small{
  font-size: 12px;
  color: gray;
  margin-left: 5px;
}

//fix margin
.mt-30{
  margin-top: 30px;
}
.mb-30{
  margin-bottom: 30px;
}
.ml-30{
  margin-left: 30px;
}
.mr-30{
  margin-right: 30px;
}

// Table
.table-action-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
  gap: 10px;

  span{
    font-size: 16px;
    height: 16px;
    cursor: pointer;

    &:hover{
      color: $primary-color;
    }
  }
}

//bootstrap overwrite
img, svg{
  vertical-align: unset;
}